@use "../../abstracts/index" as *;



.testimonial-v01 {
    padding: 48px;
    border: 1px solid var(--white-16);
    display: grid;
    gap: 40px;

    .tes-author {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .author_image {
        position: relative;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .author_info {
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        text-align: center;
    }

    .tes-text {
        text-align: center;
    }

    @include res(xl) {
        padding: 30px;
        gap: 30px;
    }

    @include res(lg) {
        padding: 20px 15px;
        gap: 24px;
    }
}